.git
.github
**/__pycache__
**/*.pyc
.env
.env.*
mlruns
.history
notebooks
*.md
tests
.pytest_cache
.ruff_cache
Data/*.csv
!Data/.gitkeep
outputs/*
!outputs/.gitkeep
models/v*
yt_env
env
.vscode
.idea
